/* ----- ESTILO GENERAL ----- */
body {
    background: #f5f7fa;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/* Contenedor principal */
.form-container {
    width: 60%;
    margin: 40px auto;
    background: white;
    padding: 25px 35px;
    border-radius: 12px;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.15);
}

/* Títulos */
.form-container h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #2c3e50;
    font-size: 25px;
}

/* Etiquetas */
label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
    color: #34495e;
}

/* Inputs y selects */
input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 18px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 15px;
    background: #fdfdfd;
    transition: 0.3s;
}

/* Animación ligera al enfocar */
input:focus, select:focus {
    border-color: #3498db;
    box-shadow: 0px 0px 6px rgba(52,152,219,0.5);
    outline: none;
}

/* Botón */
.btn-guardar {
    width: 100%;
    background: #3498db;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 17px;
    transition: 0.3s;
}

.btn-guardar:hover {
    background: #2980b9;
}



@media (max-width: 768px) {
    .form-container {
        width: 90%;
    }
}
