<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Citas médicas - Salud Integral</title>
    <link rel="stylesheet" href="../static/css/style3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
<div class="dashboard">

    <aside class="sidebar">
        <div class="logo">
            <img src="../static/img/logo.png" alt="Logo">
            <h2>Salud Integral</h2>
        </div>

        <nav class="menu">
            <p class="menu-title">Menú Principal</p>
            <ul>
                <li><a href="#"><i class="fa-solid fa-house"></i> Inicio</a></li>
                <li><a href="#" class="active"><i class="fa-solid fa-calendar-check"></i> Citas</a></li>
                <li><a href="#"><i class="fa-solid fa-folder-open"></i> Expedientes</a></li>
            </ul>
        </nav>

        <div class="footer">
            <p>© 2025 Salud Integral</p>
        </div>
    </aside>

    <main class="content">
        <header>
            <h1>¡Buenos días doctor!</h1>
            <div class="user-info">
                <img src="../static/img/user.png" alt="Usuario">
                <span>Médico Jefe</span>
            </div>
        </header>


    </main>
</div>
</body>
</html>
