<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Expedientes - Salud Integral</title>
        <link rel="stylesheet" th:href="@{/css/style3.css}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    </head>

    <body>
        <div class="dashboard">
            <aside class="sidebar">
                <div class="logo">
                    <img th:src="@{/img/logo.png}" alt="Logo de la Clínica" class="logo">
                    <h2>Salud Integral</h2>
                </div>

                <!-- Barra lateral de la página -->
                <nav class="menu">
                    <p class="menu-title">Menú Principal</p>
                    <ul>
                        <li><a th:href="@{/encargado/home}" ><i class="fa-solid fa-house"></i> Inicio</a></li>
                        <li><a th:href="@{/encargado/citas}"><i class="fa-solid fa-calendar-check"></i> Citas</a></li>
                        <li><a th:href="@{/encargado/expedientes}" class ="active"><i class="fa-solid fa-folder-open"></i> Expedientes</a></li>
                        <li><a th:href="@{/encargado/pacientes}"><i class="fa-solid fa-user-injured"></i> Pacientes </a></li>
                        <li><a th:href="@{/encargado/doctores}"><i class="fa-solid fa-user-doctor"></i> Doctores </a></li>
                    </ul>
                </nav>

                <div class="footer">
                    <p>© 2025 Salud Integral</p>
                </div>
            </aside>

            <!-- Contenido principal de la página -->
            <main class="content">
                <header>
                    <div class="user-info" onclick="toggleMenu()">
                        <i class="fa-solid fa-user"></i>
                        <span th:text="${encargado.nombre}">Encargado</span>
                        <i class="fa-solid fa-chevron-down arrow"></i>

                        <!-- Menú desplegable -->
                        <div id="userMenu" class="dropdown-menu">

                            <a th:href="@{/encargado/perfil}" class="profile-btn">
                                <i class="fa-solid fa-id-badge"></i> Mi Perfil
                            </a>

                            <form th:action="@{/logout}" method="post">
                                <button type="submit" class="logout-btn">
                                    <i class="fa-solid fa-right-from-bracket"></i> Cerrar sesión
                                </button>
                            </form>
                        </div>
                    </div>
                </header>

                <!-- Muestras de expedientes -->
                <section class="main-section">
                    <h2>Lista de Expedientes</h2>
                    <input type="text" id="buscador" placeholder="Buscar por nombre de paciente..." onkeyup="filtrarExpedientes()">

                    <div class="expedientes-grid">
                        <div th:each="expediente : ${expedientes}" class="expediente-card">
                            <h3 th:text="${expediente.diagnosticos}">Diagnóstico</h3>
                            <p><strong>Paciente:</strong> <span th:text="${expediente.paciente.nombre}"></span></p>
                            <p><strong>Estado:</strong> <span th:text="${expediente.estadoExpediente}"></span></p>
                            <p><strong>Doctor:</strong> <span th:text="${expediente.doctor.nombre}"></span></p>

                            <a th:href="@{'/encargado/expedientes/' + ${expediente.id_expediente}}" class="btn-detalles">
                                <i class="fa-solid fa-eye"></i> Ver detalles
                            </a>

                            <a th:href="@{'/encargado/expedientes/aprobar/' + ${expediente.id_expediente}}" class="btn-edit">
                                <i class="fa-solid fa-pen-to-square"></i> Aprobar
                            </a>
                        </div>
                    </div>
                </section>
            </main>
        </div>

        <script>
            function filtrarExpedientes() {
                const input = document.getElementById('buscador').value.toLowerCase();
                const expedientes = document.getElementsByClassName('expediente-card');

                for (let expediente of expedientes) {
                    const texto = expediente.textContent.toLowerCase();
                    expediente.style.display = texto.includes(input) ? '' : 'none';
                }
            }
            function toggleMenu() {
                const menu = document.getElementById("userMenu");
                menu.classList.toggle("active");
            }

            document.addEventListener("click", function(e){
                const userInfo = document.querySelector(".user-info");
                const menu = document.getElementById("userMenu");

                if (!userInfo.contains(e.target)) {
                    menu.classList.remove("active");
                }
            }
            );
        </script>
    </body>
</html>