<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Login - Clínica Salud Integral</title>
        <link rel="stylesheet" th:href="@{/css/style.css}">
    </head>

    <script>
        function validarFormulario() {
            const correo = document.getElementById('username').value.trim();
            const contrasena = document.getElementById('password').value.trim();
            const errorMsg = document.getElementById('errorMsg');
            errorMsg.textContent = "";

            if (correo === "" || contrasena === "") {
                errorMsg.textContent = "Por favor, llena todos los campos.";
                return false;
            }

            const patronCorreo = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;
            if (!patronCorreo.test(correo)) {
                errorMsg.textContent = "Ingresa un correo electrónico válido.";
                return false;
            }

            if (contrasena.length < 4) {
                errorMsg.textContent = "La contraseña debe tener al menos 4 caracteres.";
                return false;
            }

            return true; // Si pasa todas las validaciones
        }
    </script>

    <body>
        <div class="login">
            <h1>Salud Integral</h1>

            <div class="logo-container">
                <img th:src="@{/img/logo.png}" alt="Logo de la Clínica" class="logo">
            </div>

            <h2>Ingrese sus credenciales</h2>
            <h3><small>Coloque las credenciales de su cuenta para iniciar sesión</small></h3>

            <form id="loginForm" th:action="@{/login}" method="post" onsubmit="return validarFormulario()">
                <div class="input-group">
                    <input type="text" name="username" placeholder="correo@ejemplo.com" required>
                </div>

                <div class="input-group">
                    <input type="password" name="password" placeholder="••••••" required>
                </div>

                <button type="submit">Iniciar sesión</button>

            </form>
        </div>
    </body>
</html>