<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pacientes - Salud Integral</title>
        <link rel="stylesheet" th:href="@{/css/style3.css}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    </head>

    <body>
        <div class="dashboard">
            <aside class="sidebar">
                <div class="logo">
                    <img th:src="@{/img/logo.png}" alt="Logo de la Clínica" class="logo">
                    <h2>Salud Integral</h2>
                </div>

                <!-- Barra lateral de la página -->
                <nav class="menu">
                    <p class="menu-title">Menú Principal</p>
                    <ul>
                        <li><a th:href="@{/encargado/home}" ><i class="fa-solid fa-house"></i> Inicio</a></li>
                        <li><a th:href="@{/encargado/citas}"><i class="fa-solid fa-calendar-check"></i> Citas</a></li>
                        <li><a th:href="@{/encargado/expedientes}"><i class="fa-solid fa-folder-open"></i> Expedientes</a></li>
                        <li><a th:href="@{/encargado/pacientes}" class="active"><i class="fa-solid fa-user-injured"></i> Pacientes </a></li>
                        <li><a th:href="@{/encargado/doctores}"><i class="fa-solid fa-user-doctor"></i> Doctores </a></li>
                    </ul>
                </nav>

                <div class="footer">
                    <p>© 2025 Salud Integral</p>
                </div>
            </aside>

            <!-- Contenido principal de la página -->
            <main class="content">
                <header>
                    <div class="user-info" onclick="toggleMenu()">
                        <i class="fa-solid fa-user"></i>
                        <span th:text="${encargado.nombre}">Doctor</span>
                        <i class="fa-solid fa-chevron-down arrow"></i>

                        <!-- Menú desplegable -->
                        <div id="userMenu" class="dropdown-menu">

                            <a th:href="@{/encargado/perfil}" class="profile-btn">
                                <i class="fa-solid fa-id-badge"></i> Mi Perfil
                            </a>

                            <form th:action="@{/logout}" method="post">
                                <button type="submit" class="logout-btn">
                                    <i class="fa-solid fa-right-from-bracket"></i> Cerrar sesión
                                </button>
                            </form>
                        </div>
                    </div>
                </header>

                <section class="main-section">
                    <div class="acciones-superiores">
                        <h2>Todos los pacientes</h2>

                        <div class="botones-superiores">
                            <a class="btn-add" th:href="@{/encargado/paciente/nuevo}">
                                <i class="fa-solid fa-plus"></i> Nuevo Paciente
                            </a>
                        </div>
                    </div>

                    <input type="text" id="buscador" placeholder="Buscar paciente..." onkeyup="filtrarPaciwentes()">

                    <div class="citas-container">
                        <div th:each="paciente : ${pacientes}" class="cita-card">

                            <h3 th:text="${paciente.nombre}"></h3>
                            <p><strong>Edad:</strong> <span th:text="${paciente.edad}"></span></p>
                            <p><strong>Teléfono:</strong> <span th:text="${paciente.telefono}"></span></p>
                            <p><strong>Correo:</strong> <span th:text="${paciente.email}">Consulta general</span></p>
                        </div>
                    </div>
                </section>
            </main>
        </div>
    </body>

    <script>
        function filtrarPacientes() {
            let input = document.getElementById("buscador").value.toLowerCase();
            let cards = document.querySelectorAll(".cita-card");

            cards.forEach(card => {
                let nombre = card.querySelector("h3").textContent.toLowerCase();
                let telefono = card.querySelector("span:nth-of-type(1)").textContent.toLowerCase();
                let correo = card.querySelector("span:nth-of-type(2)").textContent.toLowerCase();

                if (nombre.includes(input) ||
                    telefono.includes(input) ||
                    correo.includes(input)) {
                    card.style.display = "block";
                } else {
                    card.style.display = "none";
                }
            });
        }
        function toggleMenu() {
            const menu = document.getElementById("userMenu");
            menu.classList.toggle("active");
        }

        document.addEventListener("click", function(e){
            const userInfo = document.querySelector(".user-info");
            const menu = document.getElementById("userMenu");

            if (!userInfo.contains(e.target)) {
                menu.classList.remove("active");
            }
        });
    </script>
</html>