
body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #f5f6fa;
    display: flex;
    height: 100vh;
}

.dashboard {
    display: flex;
    width: 100%;
}

.sidebar {
    width: 250px;
    background-color: #white;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0;
    height: 100vh;
    box-shadow: 2px 0 10px rgba(0,0,0,0.1);
}

.logo {
    text-align: center;
    margin-bottom: 30px;
}

.logo img {
    width: 80px;
    height: auto;
    margin-bottom: 10px;
}

.logo h2 {
    font-size: 18px;
    color: #000000;
    margin: 0;
}

/* Menú lateral */
.menu {
    flex-grow: 1;
    padding: 0 20px;
}

.menu-title {
    font-size: 13px;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    margin: 10px 0;
}

.menu ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 15px;
    display: block;
    padding: 8px 10px;
    border-radius: 6px;
    transition: background 0.2s;
}

.menu ul li a:hover,
.menu ul li a.active {
    background-color: #BFBFBF;
}

.main-content {
    flex: 1;
    padding: 30px 40px;
    overflow-y: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.header h1 {
    margin: 0;
    font-size: 24px;
    color: #333;
}

.user-info {
    display: flex;
    align-items: center;
    background-color: #e3f2fd;
    padding: 8px 15px;
    border-radius: 10px;
}

.user-info img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-info span {
    font-size: 14px;
    color: #333;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
    text-align: center;
}

.card h3 {
    color: #1565c0;
    margin-bottom: 10px;
}

.card p {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    color: #333;
}

.footer {
    text-align: center;
    font-size: 12px;
    color: #888;
    margin-top: 30px;
}
